<ol>
        <li>Écrire une fonction <strong>mini(a, b)</strong> qui retourne le plus petit d'entre a et b</li>
        <li>Écrire une fonction <strong>maxi(a, b)</strong> qui retourne le plus grand d'entre a et b</li>
</ol>
